body {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 13px;
    padding: 30px;
}

.container {
    width: 1300px;
    margin: 0 auto;
}

#title {
    text-align: center;
    padding-bottom: 20px;
}

#vis-map {
    width: 650px;
    display: inline-block;
}

#scatterplot {
    width: 600px;
    display: inline-block;
}

#radarplot {
    width: 650px;
    display: inline-block;
}

#line_chart {
    width: 600px;
    display: inline-block;
}

#projection {
    display: inline;
    float: left;
}

#attribute {
    display: inline;
    float: right;
}


.line:hover {
    opacity: 1;
}


#lexis-tooltip {
    position: absolute;
    opacity: 0;
    background: #fff;
    box-shadow: 2px 2px 3px 0px rgb(92 92 92 / 0.5);
    border: 1px solid #ddd;
    font-size: 12px;
    padding: 8px 18px;
}

.lexis-tooltip-label {
    font-weight: 600;
}

#scatterplot-tooltip {
    position: absolute;
    opacity: 0;
    background: #fff;
    box-shadow: 2px 2px 3px 0px rgb(92 92 92 / 0.5);
    border: 1px solid #ddd;
    font-size: 12px;
    padding: 8px 30px;
}

.scatterplot-tooltip-label {
    font-weight: 600;
}


.bar:hover {
    stroke: black;
    transition: fill ease-in-out 200ms;
    cursor: pointer;
}

.bar.active {
    stroke: #000;
    fill: #76768a;
}


#lexis-chart {
    box-sizing: content-box;
    padding: 30px;
    border: 1px solid rgba(128,128,128, 0.6);
    border-radius: 10px;
    margin: 20px;
}

#bar-chart {
    box-sizing: content-box;
    padding: 30px;
    border: 1px solid rgba(128,128,128, 0.6);
    border-radius: 10px;
    margin: 20px;
    display: inline;
}

#scatter-plot {
    box-sizing: content-box;
    padding: 30px;
    border: 1px solid rgba(128,128,128, 0.6);
    border-radius: 10px;
    margin: 20px;
    display: inline;
}

.circle-axis-labels {
    text-align: center;
    font-size: 12px;
    font-weight: 300;
}


.country:hover {
    stroke-width: 4;
}

/* Tooltip */
#tooltip {
    position: absolute;
    display: none;
    background: #fff;
    box-shadow: 3px 3px 3px 0px rgb(92 92 92 / 0.5);
    border: 1px solid #ddd;
    font-size: 12px;
    font-weight: 500;
    padding: 8px;
    min-width: 160px;
    color: #333;
}

.tooltip-title {
    font-size: 14px;
    font-weight: 600;
}

.marker {
    fill: #8533af;
    stroke: #8533af;
    fill-opacity: .96;
    transition: all .2s ease-in-out;
}

.marker:hover{
     fill: #31558d;
     fill-opacity: 1;
     cursor: pointer;
}

.btn-clicked{
    background-color: #80a1c5;
    cursor: pointer;
}
.btn-clicked:hover{
    background-color: #365d9a;
}

.btn {
    background-color: #eee;
    cursor: pointer;
}

.btn:hover {
    background-color: #aaa;
}

.selected {
    opacity: 1 !important;
    fill: #004488;
}

.plot-title {
    font-size: 16px;
    font-weight: 500;
}

.plot-description {
    font-size: 14px;
    font-style: italic;
}

.clickable {
    cursor: pointer;
}

.tooltip-colordiv {
    display: block; 
    height: 12px; 
    width: 100%; 
    margin-bottom: 5px;
}

.tooltip-comparison {
    display: block; 
    height: 8px; 
    width: 100%; 
    margin-bottom: 5px;
}
